<header>
    <nav class='navbar navbar-expand-lg navigation navbar-light bg-light'>
    
      <%= link_to '/', class: 'navbar-brand' do %>
       
       <%= image_tag 'logo.png' %> 
      <% end %>
      <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
        aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>
  
      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav ms-auto main-nav align-items-center'>
          <li class='nav-item dropdown dropdown-slide'>
            
            <div class='dropdown-menu dropdown-menu-end'>
             
            </div>
          </li>
  
          <li class='nav-item'>
          <%= link_to t('header.pose_index'), poses_path, class: 'nav-link' %>
        </li>
          <li class='nav-item'>
          <%= link_to t('ブックマーク'), bookmarks_poses_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to t('プロフィール'), profile_path, class: 'nav-link' %>
        </li>
        
        <li class="nav-item">
          <%= link_to 'ログイン', login_path, class: "nav-link" %>
        </li>
        
        
        <li class='nav-item'>
          <%= link_to 'ログアウト', logout_path, class: "nav-link", data: { turbo_method: :delete } %>
        </li>

        <li class='nav-item'>
          
          <%= link_to 'RANKING', ranking_poses_path, class: 'nav-link' %>
        </li>

        

        
          <li class='nav-item dropdown dropdown-slide'>
          <%= link_to '#', class: 'nav-link', data: { bs_toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' }, id: 'header-profile' do %>
            <% end %>
            
              <div class='dropdown-menu dropdown-menu-end'>
              <div class='dropdown-item'><%= current_user.decorate.name %></div>
              <div class='dropdown-divider'></div>
              <%= link_to 'プロフィール', '#', class: 'dropdown-item' %>
              <%= link_to 'ログアウト', logout_path, class: 'dropdown-item', data: { turbo_method: :delete } %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>