<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1>ポーズ名</h1><p>投稿した画像内の顔を隠すよ</p>
      <%= form_with model: @pose do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        <div class="mb-3">
          <%= f.label :name, class: "form-label" %>
          <%= f.text_field :name, class: "form-control", maxlength: "20"  %>
        </div>
        
        <div class="mb-3">
          <%= f.label :image, class: "form-label" %>
          <%= f.file_field :image, class: "form-control" %>
        </div> 

         
         <div class="mb-3">
          <%= label_tag :tag_name, "タグ（,区切りで入力してください）", class: "form-label" %>
          <%= text_field_tag :tag_name, tag_name, class: "form-control", style: "width: 100%;" %>
         </div>      
        <%= f.submit "登録", class: "btn btn-primary" %>
      <% end %>
      
    </div>
  </div>
</div>
