<div class="col-sm-12 col-lg-4 mb-3" class="card-parents">
  <div id="pose-id-<%= pose.id %>" class="card-parent">
    <div class="card">
      <%= link_to pose do %>
        <%= image_tag pose.image_url, class: "card-img-top", width: "300", height:"500"  %>
      <% end %>
      <div class="card-body">
        <h4 class="card-title"><%= link_to pose.name, pose %></h4>
        <p class="post-tags">
          <% pose.tags.each do |tag| %>
            <span class="tag"><%= tag.name %></span>
          <% end %>
        </p>    
        <div class="d-flex column-gap-2">
           <%= image_tag  pose.user.avatar_url, class: 'rounded-circle mr15', width: '40', height: '40' %>  
          <ul class="list-inline">
            <%= link_to pose.user.name, user_path(pose.user) %></li>
          </ul>   
          <% if current_user && current_user.own?(pose) %>
            <div class=''>
              <%= link_to edit_pose_path(pose), id: "button-edit-#{pose.id}" do %>
                <i class="bi bi-pencil-square"></i>
              <% end %>
              <%= link_to pose_path(pose), id: "button-delete-#{pose.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                <i class="bi bi-trash2-fill"></i>
              <% end %>
            </div>
          <% end %>       
          <% if controller.controller_name == "poses" && controller.action_name != "show" %>
            <p>
              <%= link_to "https://twitter.com/share?url=#{pose_url(pose)}&text=このポーズをチェック:#{pose.name}+#{CGI.escape('#ピス卒')}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
              <i class="bi bi-share"></i>           
              <% end %> 
            </p>                               
          <% else %>
            <p>
              <%= link_to "https://twitter.com/share?url=#{pose_url(pose)}&text=このポーズをチェック:#{pose.name}+#{CGI.escape('#ピス卒')}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
              <i class="bi bi-share"></i>
              <% end %>                
            </p>
          <% end %>
          <div class=''>
            <% if current_user %>
              <% if current_user && current_user.bookmark?(pose) %>
                <%= render 'poses/unbookmark', { pose: pose } %>
              <% else %>
                <%= render  'poses/bookmark', { pose: pose } %>
              <% end %>
            <% end %>
          </div>         
        </div>
      </div>
    </div>
  </div>
</div>
