<%#= content_for(:pose_image, image_url("result.jpg")) %>
<div class="col-sm-12 col-lg-4 mb-3">
  <div id="pose-id-<%= pose.id %>">
    <div class="card">
      <%= link_to pose do %>
        <%= image_tag pose.image_url, class: "card-img-top", width: "300" %>
      <% end %>
      <div class="card-body">
        <div class="d-flex column-gap-3">
          <h4 class="card-title"><%= pose.name %></h4>
          <% if current_user && current_user.own?(pose) %>
            <div class=''>
              <%= link_to edit_pose_path(pose), id: "button-edit-#{pose.id}" do %>
                <%= t('buttons.edit') %>
                <i class="bi bi-pencil-square"></i>
              <% end %>
              <%= link_to pose_path(pose), id: "button-delete-#{pose.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                <%= t('buttons.delete') %>
                <i class="bi bi-trash2-fill"></i>
              <% end %>
            </div>
          <% end %>
          
            <% if controller.controller_name == "poses" && controller.action_name != "show" %>
              <p>
                <%= link_to "もっと見る", pose %>
                <%= link_to "https://twitter.com/share?url=#{pose_url(pose)}&text=このポーズをチェック:#{pose.name}+#{CGI.escape('#ピス卒')}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
               シェア
            <% end %>
              </p>
            <% else %>
               <p>
  
                 <%= link_to "https://twitter.com/share?url=#{pose_url(pose)}&text=このポーズをチェック:#{pose.name}+#{CGI.escape('#ピス卒')}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
                 シェア
                  <% end %>
                   <li><i class="bi bi-calendar"></i><%= l pose.created_at, format: :short %></li>
              </p>
            <% end %>

          <div class=''>
            <% if current_user %>
              <% if current_user && current_user.bookmark?(pose) %>
                <%= render 'poses/unbookmark', { pose: pose } %>
              <% else %>
                <%= render  'poses/bookmark', { pose: pose } %>
              <% end %>
            <% end %>
          </div>
          <ul class="list-inline">
          <li><i class="bi bi-person"></i><%= pose.user.decorate.name %></li>
        </ul>
          <p>
             <strong>Tag:</strong>
              <% pose.tags.each do |tag| %>
              <span class="tag"><%= tag.name %></span>
              <% end %>
           </p>
        </div>
      </div>
    </div>
  </div>
</div>
