<div class="col-sm-12 col-lg-4 mb-3">
  <div id="pose-id-<%= pose.id %>">
    <div class="card">
      <%= link_to pose do %>
        <%= image_tag pose.image_url, class: "card-img-top", width: "300" %>
      <% end %>
      <div class="card-body">
        <div class="d-flex column-gap-3">
          <h4 class="card-title"><%= pose.name %></h4>
          <% if current_user.own?(pose) %>
            <div class=''>
              <%= link_to edit_pose_path(pose), id: "button-edit-#{pose.id}" do %>
                <%= t('buttons.edit') %>
                <i class="bi bi-pencil-square"></i>
              <% end %>
              <%= link_to pose_path(pose), id: "button-delete-#{pose.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                <%= t('buttons.delete') %>
                <i class="bi bi-trash2-fill"></i>
              <% end %>
            </div>

            <% if controller.controller_name == "poses" && controller.action_name != "show" %>
              <p>
                <%= link_to "もっと見る", pose %>
                <%= link_to 'Twitter', "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank' %>
              </p>
            <% else %>
              <p>
                <%= link_to 'Twitter', "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank' %>
              </p>
            <% end %>
            <div class=''>
              <% if current_user.bookmark?(pose) %>
                <%= render 'unbookmark', { pose: pose } %>
              <% else %>
                <%= render 'bookmark', { pose: pose } %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>