<% content_for(:title, t('pose.bookmarks.title')) %>


<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">

    
      <p style="color: green"><%= notice %></p>

 
      <h2>ブックマーク一覧</h2>

    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @bookmark_poses.present? %>
          <%= render @bookmark_poses %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
      <%= paginate @bookmark_poses %>
    </div>
  </div>

  <%= link_to "新ポーズ", new_pose_path %>
</div>
