<% content_for(:title, t('.title')) %>

<!-- 新しいレイアウト -->
<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">

    
      <p style="color: green"><%= notice %></p>

      
      <h1>ポーズ</h1>

      
      <%= render 'search_form', q: @q, url: bookmarks_poses_path %>

    </div>
  </div>

  <!-- 掲示板一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @bookmark_poses.present? %>
          <%= render @bookmark_poses %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
      <%= paginate @bookmark_poses %>
    </div>
  </div>

  <!-- 新ポーズのリンク -->
  <%= link_to "新ポーズ", new_pose_path %>
</div>
