<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">

      
      <p style="color: green"><%= notice %></p>

      
      <h1>ポーズ</h1><%= link_to "新ポーズ", new_pose_path, class: 'btn btn-primary btn-lg' %>


      
      <%= render 'search_form', q: @q, url: poses_path %>

    </div>
  </div>

  
  <div id="poses" class="row">
    <% @poses.each do |pose| %>
      <%= render pose %>
    <% end %>
  </div>


  <%= link_to "新ポーズ", new_pose_path %>
</div>
