<%content_for(:title, t('pose.index.title')) %>
<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">

      
      <p style="color: green"><%= notice %></p>

      
      <h1>ポーズ</h1><%= link_to "新ポーズ", new_pose_path, class: 'btn btn-primary btn-lg' %>
      <p>投稿した画像内の顔を隠してくれるよ!</p>
      <p>検索のところに文字を入力すると、調べたい言葉の候補がいくつか出てくるよ</p>

      
      <%= render 'search_form', q: @q, url: poses_path %>

    </div>
  </div>

<% @poses.each do |pose| %>
  <div class="pose">
    <h2><%= link_to pose.name, pose_path(pose) %></h2>
    <p><%= pose.name %></p>
    <div class="share">
      <%= link_to "https://twitter.com/share?url=#{pose_url(pose)}&text=#{"Check out this pose: #{pose.name}"}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
        シェアする
      <% end %>
    </div>
  </div>
<% end %> 
  <div id="poses" class="row">
    <% @poses.each do |pose| %>
      <%= render pose %>
      <div class="share">
      <%= link_to "https://twitter.com/share?url=#{pose_url(pose)}&text=#{"Check out this pose: #{pose.name}"}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
        シェアする
      <% end %>
    </div>
    <% end %>
    <%= paginate @poses, theme: 'bootstrap-5' %>
  </div>
  <%= link_to "新ポーズ", new_pose_path %>
</div>
