<%content_for(:title, t('pose.index.title')) %>
<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">     
      <p style="color: green"><%= notice %></p>     
      <h1>ポーズ</h1><%= link_to "新ポーズ", new_pose_path, class: 'btn btn-primary btn-lg' %>
      <p>投稿した画像内の顔を隠してくれるよ!</p>
      <p>検索のところに文字を入力すると、調べたい言葉の候補がいくつか出てくるよ</p>     
      <%= render 'search_form', q: @q, url: poses_path %>
    </div>
  </div>
  <div id="poses" class="row">
    <% @poses.each do |pose| %>
      <%= render pose %>  <%#ポーズのパーシャルを呼び出している。パーシャルの中にポーズの変数を渡している。これにより、パーシャルの中で、ポーズという変数が使えるようになる。使いたい変数にやって＠をつけないといけない.ポーズのパーシャルの中は、indexのrenderが＠ついていないので＠をつけてはいけなかった%>    
    <% end %>
    <%= paginate @poses, theme: 'bootstrap-5' %>
  </div>
  <%= link_to "新ポーズ", new_pose_path %>
</div>
