<% content_for(:title, t('pose.ranking.title')) %>
<div class="p-6">
  <h2 class="text-2xl font-semibold mb-4">ポーズランキング</h2>
  <table class="ranking">
  <thead>
    <tr>
      <th>順位</th>
      <th>ポーズ名</th>
      <th>ブックマーク数</th>
      <th>ポーズ</th>
    </tr>
  </thead>
  <tbody>
    <% @ranked_poses.each do |ranked_pose| %>
      <tr style="<%= 'background-color: 	#FFEF6C;' if ranked_pose[:rank] == 1 %> <%= 'background-color: #afafb0;' if ranked_pose[:rank] == 2 %> <%= 'background-color: #ffa047;' if ranked_pose[:rank] == 3 %>">
        <td class="rankinga"><%= ranked_pose[:rank] %>位</td>
        <td class="rankinga"><%= ranked_pose[:pose].name %></td>
        <td class="rankinga"><%= ranked_pose[:pose].bookmarks_count %></td>
        <td class="rankinga"><%= image_tag ranked_pose[:pose].image.to_s, width: "300" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

