<h1>Pose Ranking</h1>


<% @poses.each do |pose| %>
<section class="relative bg-blueGray-50">


        <tbody>
          <tr>
            <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center">
            <div class="w-12 h-12">
              <%= image_tag post.user.profile.avatar.url, class: 'h-full w-full rounded-full object-cover' %>
            </div>
            <%= link_to user_profile_path(post.user) do %>
              <span class="ml-3 font-bold text-white"><%= truncate(post.user.username, length: 20) %></span></th>
            <% end %>
            <%= link_to post_path(post) do %>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"><%= truncate(post.title, length: 50) %></td>
            <% end %>
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
              <i class="fas fa-circle text-orange-500 mr-2"></i><%= post.categories.name %></td>
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            <i class="fas fa-circle text-orange-500 mr-2"></i><%= post.likes_count %></td>
            </td>
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"><div class="flex items-center">
                <span class="mr-2"><%= post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></span>
            </td>
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right">
              <a href="#pablo" class="text-blueGray-500 block py-1 px-3" onclick="openDropdown(event,'table-dark-1-dropdown')">
                <i class="fas fa-ellipsis-v"></i></a>
              <div class="hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48" id="table-dark-1-dropdown">
                <a href="#pablo" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Action</a><a href="#pablo" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Another action</a><a href="#pablo" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Something else here</a>
                <div class="h-0 my-2 border border-solid border-blueGray-100"></div>
                <a href="#pablo" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Seprated link</a>
              </div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
</section>
<% end %>
</div>