<p style="color: green"><%= notice %></p>

<%= render @pose %>
<div>
  <%= link_to "Edit this poses", edit_pose_path(@pose) %> |
  <%= link_to "Back to poses", poses_path %>
  <%= link_to 'Twitter', "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank' %>

  <%= button_to "Destroy this pose", @pose, method: :delete %>
</div>


