<% content_for(:pose_image, @pose.image.url) %>
<% content_for(:title, t('pose.show.title')) %>
<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('pose.show.title') %></h1>

      <p style="color: green"><%= notice %></p>   
      <article class="card">
        <div class="col-md-3">
          <%= image_tag @pose.image.url, class: " img-fluid" %>
        </div>
        <div class="card-body">
          <div class="row">
            <div class ="posebody">
            <div class="col-md-9">
              <h3 style="display: inline;"><%= @pose.name %></h3>
              <ul class="list-inline">
                <p class="post-tags">
            <% @pose.tags.each do |tag| %>
              <span class="tag"><%= tag.name %></span>
            <% end %>
                <li class="list-inline-item"><%= "作成者: #{@pose.user.name}" %></li>
                <li class="list-inline-item"><%= l(@pose.created_at, format: :long) %></li>
                <div class='d-flex justify-content-end'>
                 <% if logged_in? %>
                   <%= link_to edit_pose_path(@pose), id: "button-edit-#{@pose.id}" do %>
                  <i class='bi bi-pencil-fill'></i>
                   <% end %>
                   <%= link_to pose_path(@pose), id: "button-delete-#{@pose.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                  <i class="bi bi-trash-fill"></i>
                  <% end %>
                <%end%>
                  <%= link_to "https://twitter.com/share?url=#{pose_url(@pose)}&text=このポーズをチェック:#{@pose.name}+#{CGI.escape('#ピス卒')}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
                  <i class="bi bi-share"></i>
                  <% end %>
                </div>
              </ul>
            </div>
            </div>
          </div>
        </div>
        </div>
      </article>
      <div>
        <%= link_to t('links.back_to_poses'), poses_path, class: "btn btn-primary mt-3" %>
      </div>
    </div>
  </div>
</div>
