<% content_for(:title, t('.title')) %>
<div class="container">
    <div class="row">
      <div class=" col-md-10 col-lg-8 mx-auto">
        <h1>ログイン</h1>
        <%= form_with url: login_path do |f| %>
          <div class="mb-3">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control", maxlength: "300" %>
          </div>
          <div class="mb-3">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control", maxlength: "20" %>
          </div>
          <%= f.submit t('.login'), class: "btn btn-primary" %>
        <% end %>
        <div class='text-center'>
          <%= link_to t('.to_register_page'), new_user_path %>
          <%= link_to t('.password_forget'), new_password_reset_path %>
        </div>
      </div>
    </div>
  </div>